a {
    font-size: 20px;
    color: grey;
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: black;
    text-decoration: underline;
}

a:active {
    color: hotpink;
}

