div {
    height: 50px;
    width: 100px;
    border: 2px solid black;
    border-radius: 25px;
    display: inline-block;
}

div:nth-child(4n +1) {
    background-color: red;
}

div:nth-child(4n +2) {
    background-color: blue;
}

div:nth-child(4n +3) {
    background-color: yellow;
}

div:nth-child(4n) {
    background-color: green;
}

div:hover {
    background-color: hotpink;
}